@media all
{
	.wrap > h1.align_center
	{
		font-size: 3em;
		left: 50%;
		position: absolute;
		top: 5em;
		transform: translate(-50%, 0);
	}

	/*.empty-container
	{
		display: none;
	}*/

	#dashboard-widgets img
	{
		max-width: 100%;
	}

	#dashboard-widgets .editable
	{
		bottom: 1em;
		position: absolute;
		right: 1em;
	}
}