@media all
{
	.wrap > h1.align_center
	{
		font-size: 3em;
		left: 50%;
		line-height: 1.2;
		position: absolute;
		text-align: center;
		top: 5em;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

		.wrap > h1.align_center p
		{
			display: inline-block;
			font-size: .4em;
			font-weight: normal;
			margin-top: 1em;
			width: 70%;
		}

	
	#wpbody-content #dashboard-widgets.hide_empty_containers .postbox-container:first-child:last-child
	{
		width: 100%;
	}

	/*.postbox-container .empty-container:first-child
	{
		display: none;
	}*/

	#dashboard-widgets img
	{
		max-width: 100%;
	}

	#dashboard-widgets .editable
	{
		bottom: 1em;
		position: absolute;
		right: 1em;
	}

		#dashboard-widgets .inside img
		{
			height: auto;
			max-width: 100%;
		}
}